/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-09-2019, 13:50:45
    Author     : Nikolaj
*/

.mydiv {width: 25px; height: 25px;background-color:yellow; margin:1px;}
#container{
	width: 226px;
	height: 274px;
	border: 3px solid darkblue;
	margin: auto
}
